<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Analytics Portal</title>
        <link rel="stylesheet" href="style/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="script/main.js"></script>
    </head>

    <body ng-app="mainApp" ng-controller="mainController">
        <header>
            <div class="icon col-xs-3 col-md-3 col-sm-3 col-lg-3"> <img src="resources/iconTop.jpeg" alt="lovelytics icon"/></div>
            <div class="text title col-xs-9 col-md-9 col-sm-9 col-lg-9">Analytics Portal</div>
        </header>
        <section class="main-section">
            <div class="main-menu">
                <div class="about-llama col-xs-6 col-md-6 col-sm-6 col-lg-6 clickable" ng-click="showDashboard()">Dashboard</div>
                <div class="about-me col-xs-6 col-md-6 col-sm-6 col-lg-6 clickable" ng-click="showSocialMedia()">Social Media</div>
            </div>
            <div class="content">
                <div ng-show="dashboard">
                    <div class="sub-menu">
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 clickable" ng-click="showPurchaseAnalysis()">Purchase Analysis</div>
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 clickable" ng-click="showEmployeeTurnover()">Employee Turnover</div>
                    </div>
                    <div class="tableau-dashboard">
                        <div ng-show="purchaseAnalysis">
                            <div class='tableauPlaceholder tableau' id='viz1584757337675' style='position: relative'>
                                <noscript>
                                    <a href='#'>
                                        <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Lo&#47;LovelyticsRetailDashboards&#47;PurchaseAnalysis&#47;1_rss.png' style='border: none' />
                                    </a>
                                </noscript>
                                <object class='tableauViz'  style='display:none;'>
                                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                                    <param name='embed_code_version' value='3' /> 
                                    <param name='site_root' value='' />
                                    <param name='name' value='LovelyticsRetailDashboards&#47;PurchaseAnalysis' />
                                    <param name='tabs' value='yes' />
                                    <param name='toolbar' value='yes' />
                                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Lo&#47;LovelyticsRetailDashboards&#47;PurchaseAnalysis&#47;1.png' /> 
                                    <param name='animate_transition' value='yes' />
                                    <param name='display_static_image' value='yes' />
                                    <param name='display_spinner' value='yes' />
                                    <param name='display_overlay' value='yes' />
                                    <param name='display_count' value='yes' />
                                </object>
                            </div>                 
                        </div>
                        <div ng-show="employeeTurnover">
                            <div class='tableauPlaceholder tableau' id='viz1584764713356' style='position: relative'>
                                <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Em&#47;EmployeeTurnoverDashboard&#47;EmployeeTurnoverDashboard&#47;1_rss.png' style='border: none' /></a></noscript>
                                <object class='tableauViz'  style='display:none;'>
                                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                    <param name='embed_code_version' value='3' />
                                    <param name='site_root' value='' />
                                    <param name='name' value='EmployeeTurnoverDashboard&#47;EmployeeTurnoverDashboard' />
                                    <param name='tabs' value='no' />
                                    <param name='toolbar' value='yes' />
                                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Em&#47;EmployeeTurnoverDashboard&#47;EmployeeTurnoverDashboard&#47;1.png' />
                                    <param name='animate_transition' value='yes' />
                                    <param name='display_static_image' value='yes' />
                                    <param name='display_spinner' value='yes' />
                                    <param name='display_overlay' value='yes' />
                                    <param name='display_count' value='yes' />
                                </object>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="socialMedia">
                    <div class="sub-menu">
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 clickable" ng-click="showFacebook()">Facebook</div>
                        <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 clickable" ng-click="showInstagram()">Instagram</div>
                    </div>
                    <div class="social-media">
                        <div ng-show="facebook">
                            <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="false">
                            </div>
                            <div ng-if="facebookLoginDetails.status == 'connected'" class="fb fb-loggedin">
                                Welcome {{facebookLoginDetails.authResponse.userID}}
                            </div>
                            <div ng-if="facebookLoginDetails.status != 'connected'" class="fb fb-loggedout">
                            
                            </div>
                        </div>
                        <div ng-show="instagram">
                            Instagram
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer></footer>
        <script src="https://connect.facebook.net/en_US/sdk.js"></script>
        <script>
            FB.init({
              appId   : 754983568238891,
              status  : true,
              xfbml   : true,
              version : 'v6.0'
            });
            FB.AppEvents.logPageView();
        </script>
    </body>
</html>